## Pandas Data Frame

In [3]:
import pandas as pd

groups = ["Modern Web", "DevOps", "Cloud", "Big Data", "Security", "自我挑戰組"]
ironmen = [56, 6, 16, 11, 4, 55]
ironmen_dict = {
                "groups": groups,
                "ironmen": ironmen
}
ironmen_df = pd.DataFrame(ironmen_dict)
ironmen_df

       groups  ironmen
0  Modern Web       56
1      DevOps        6
2       Cloud       16
3    Big Data       11
4    Security        4
5       自我挑戰組       55

In [4]:
print(ironmen_df.ndim)
print("---") # 分隔線
print(ironmen_df.shape)
print("---") # 分隔線
print(ironmen_df.dtypes)

2
---
(6, 2)
---
groups     object
ironmen     int64
dtype: object

In [5]:
print(ironmen_df.sum()) # 計算總鐵人數
print(ironmen_df.mean()) # 計算平均鐵人數
print(ironmen_df.median()) # 計算中位數
print(ironmen_df.describe()) # 描述統計

groups     Modern WebDevOpsCloudBig DataSecurity自我挑戰組
ironmen                                           148
dtype: object
ironmen    24.666667
dtype: float64
ironmen    13.5
dtype: float64
         ironmen
count   6.000000
mean   24.666667
std    24.245962
min     4.000000
25%     7.250000
50%    13.500000
75%    45.250000
max    56.000000

In [6]:
import numpy as np
import pandas as pd
groups = ["Modern Web", "DevOps", np.nan, "Big Data", "Security", "自我挑戰組"]
ironmen = [59, 9, 19, 14, 6, np.nan]
ironmen_dict = {
                "groups": groups,
                "ironmen": ironmen
}
# 建立 data frame
ironmen_df = pd.DataFrame(ironmen_dict)
print(ironmen_df.loc[:, "groups"].isnull()) # 判斷哪些組的組名是遺失值
print(ironmen_df.loc[:, "ironmen"].notnull()) # 判斷哪些組的鐵人數不是遺失值

0    False
1    False
2     True
3    False
4    False
5    False
Name: groups, dtype: bool
0     True
1     True
2     True
3     True
4     True
5    False
Name: ironmen, dtype: bool

In [7]:
ironmen_df_na_dropped = ironmen_df.dropna() # 有遺失值的觀測值都刪除
print(ironmen_df_na_dropped)
print("---") # 分隔線
ironmen_df_na_filled = ironmen_df.fillna(0) # 有遺失值的觀測值填補 0
print(ironmen_df_na_filled)
print("---") # 分隔線
ironmen_df_na_filled = ironmen_df.fillna({"groups": "Cloud", "ironmen": 71}) # 依欄位填補遺失值
print(ironmen_df_na_filled)

       groups  ironmen
0  Modern Web     59.0
1      DevOps      9.0
3    Big Data     14.0
4    Security      6.0
---
       groups  ironmen
0  Modern Web     59.0
1      DevOps      9.0
2           0     19.0
3    Big Data     14.0
4    Security      6.0
5       自我挑戰組      0.0
---
       groups  ironmen
0  Modern Web     59.0
1      DevOps      9.0
2       Cloud     19.0
3    Big Data     14.0
4    Security      6.0
5       自我挑戰組     71.0

In [8]:
import pandas as pd

groups = ["Modern Web", "DevOps", "Cloud", "Big Data", "Security", "自我挑戰組"]
ironmen = [56, 6, 16, 11, 4, 55]

# 建立 data frame
ironmen_df = pd.DataFrame(ironmen, columns = ["ironmen"], index = groups)

# 用索引值排序
ironmen_df.sort_index()

            ironmen
Big Data         11
Cloud            16
DevOps            6
Modern Web       56
Security          4
自我挑戰組            55

In [9]:
import pandas as pd

groups = ["Modern Web", "DevOps", "Cloud", "Big Data", "Security", "自我挑戰組"]
ironmen = [59, 9, 19, 14, 6, 77]

# 建立 data frame
ironmen_df = pd.DataFrame(ironmen, columns = ["ironmen"], index = groups)

# 用數值排序
ironmen_df.sort_values(by = "ironmen")

            ironmen
Security          6
DevOps            9
Big Data         14
Cloud            19
Modern Web       59
自我挑戰組            77

## iloc 利用索引來篩選資料

## loc 利用label來篩選資料

In [10]:
#  隨機生DataFrame 型別資料
import pandas as pd
import numpy as np
frame = pd.DataFrame(np.random.rand(4,4),index=list('abcd'),columns=list('ABCD'))
frame

          A         B         C         D
a  0.436516  0.751396  0.301804  0.646047
b  0.616564  0.638642  0.492427  0.847584
c  0.642716  0.161553  0.880232  0.200901
d  0.560505  0.228254  0.186183  0.463358

In [11]:
# 橫的叫列，直的叫欄
#.loc先列後欄，中間用逗號（,）分割，例如取 a 和 A 對應的資料
frame.loc['a','A']

0.4365158539308006

In [12]:
#取前兩行對應資料
frame.loc['a':'b',:]

          A         B         C         D
a  0.436516  0.751396  0.301804  0.646047
b  0.616564  0.638642  0.492427  0.847584

In [15]:
# 取前兩欄對應資料
frame.loc[:,'A':'C']

          A         B         C
a  0.436516  0.751396  0.301804
b  0.616564  0.638642  0.492427
c  0.642716  0.161553  0.880232
d  0.560505  0.228254  0.186183

In [16]:
# 上面的例子取的都是連續的列和欄，取第一列和第四列,與第一欄和第四欄對應的資料
frame.loc[['a','d'],['A','D']]

          A         D
a  0.436516  0.646047
d  0.560505  0.463358

## iloc 基於行索引和列索引（index，columns） 都是從 0 開始

In [17]:
frame.iloc[0,0]

0.4365158539308006

In [18]:
# 取前兩列對應資料
frame.iloc[0:2,:]

          A         B         C         D
a  0.436516  0.751396  0.301804  0.646047
b  0.616564  0.638642  0.492427  0.847584

In [19]:
# 取前兩列和前兩欄對應資料
frame.iloc[0:2,0:2]

          A         B
a  0.436516  0.751396
b  0.616564  0.638642

In [20]:
#上面的例子取的都是連續的行和列，若取第一行和第四行、第一列和第四列對應的資料，則
frame.iloc[[0,3],[0,3]]

          A         D
a  0.436516  0.646047
d  0.560505  0.463358